<% include partials/header %>

<div class="container">
    <h2 class="m-2">Edit Collection</h2>
    <form class="mb-3 " action="/dashboard/editCollection" method="POST">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search Card's Name" aria-label="Search Criteria by Name" name="searchKey">
            <div class="input-group-append" id="button-addon4">
                <button class="text-white btn btn-outline-secondary" type="submit">Search</button>
            </div>
        </div>
    </form>

    <div class="d-flex justify-content-between">
        <div>
            <h4 class="m-2">Search Results</h4>
            <ul class="border border-white overflow-auto list-group search-results-container">
                <%var beg = 0, end = cards.length;%>
                <%for (let i = beg; i < end ; i++) {%>
                <li class="w-100 list-group-item card-in-list d-flex justify-content-between"><%=cards[i].name%>
                    <span class="card-attributes"> cmc: <%=cards[i].cmc%> Rarity: <%=cards[i].rarity%></span>
                    <button class="btn btn-outline-warning"><a href="/dashboard/editCollection/addCard/<%=cards[i].id%>">+</a></button>
                </li>
                <%}%>
            </ul>
        </div>
        <div>
            <h4 class="m-2">Added Cards</h4>
            <ul class="border border-white overflow-auto list-group search-results-container">
                    <%var beg = 0, end = addedCards.length;%>
                    <%for (let i = beg; i < end ; i++) {%>
                    <li class="w-100 list-group-item card-in-list d-flex justify-content-between"><%=addedCards[i].name%>
                        <span class="card-attributes"> cmc: <%=addedCards[i].cmc%> Rarity: <%=addedCards[i].rarity%></span>
                        <button class="btn btn-outline-danger"><a href="/dashboard/editCollection/removeCard/<%=cards[i].id%>">-</a></button>
                    </li>
                <%}%>
            </ul>
        </div>
    </div>
</div>

<% include partials/footer %>