<% include partials/header %>
<!-- js for dashboard and edit collection -->
<script type="text/javascript" src="/js/editCollectionsPublic.js"></script>

<!-- MAIN SECONDARY COTAINER -->
<div class="container">
    <h2 class="ml-3">Edit Collection</h2>
    <!-- SEARCH FORM -->
    <form class="mb-3 col-3 fixed-search-bar" action="searchCards/" method="POST">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search Card's Name"
                aria-label="Search Criteria by Name" name="searchKey">
            <div class="input-group-append" id="button-addon4">
                <button class="text-white btn btn-outline-secondary" type="submit">Search</button>
            </div>
        </div>
    </form>

    <div class="d-flex flex-row flex-wrap mx-auto ">
        <!-- COLLECTION CARDS CONTAINER -->
        <div class="m-3 card-container">
            <h3><%=collection.name %></h3>
            <div class="table-container overflow-auto">
                <table class="table table-dark">
                    <tbody id="collection">
                        <% for (let i = 0; i < collection.cards.length; i++) { %>
                        <tr class="card-in-list">
                            <td><%=collection.cards[i].name%></td>
                            <td><%=collection.cards[i].manaCost%></td>
                            <td><%=collection.cards[i].rarity%></td>
                            <td><button id="<%=collection.cards[i].id%>"
                                    class=" btn btn-round btn-sm btn-outline-danger" onclick=handleDeleteFromCollection(event)>-</button>
                            </td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- SEARCH RESULTS -->
        <% if(searchResults.length > 0) { %>
        <div class="m-3 card-container">
            <h3>Search results</h3>
            <div class="table-container overflow-auto">
                <table class="table table-dark">
                    <tbody id="search-results">
                        <% for (let i = 0; i < searchResults.length; i++) { %>
                        <tr class="card-in-list">
                            <td><%=searchResults[i].name%></td>
                            <td><%=searchResults[i].convertedManaCost%></td>
                            <td><%=searchResults[i].rarity%></td>
                            <td><button id="<%=searchResults[i].id%>"
                                    class=" btn btn-round btn-sm btn-outline-warning"
                                    onclick=handleAdd(event)>+</button></td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
        <% } %>

        <!-- NEW CARDS -->
        <div class="m-3 card-container">
            <h3>New Cards</h3>
            <div class="table-container overflow-auto">
                <table class="table table-dark">
                    <tbody id="added-cards">
                        <% for (let i = 0; i < newCards.length; i++) { %>
                        <tr class="card-in-list">
                            <% if(newCards.length > 0) { %>
                            <td><%=newCards[i].name%></td>
                            <td><%=newCards[i].manaCost%></td>
                            <td><%=newCards[i].rarity%></td>
                            <td><button id="<%=newCards[i].id%>" class="btn btn-round btn-sm btn-outline-danger"
                                    onclick=handleDelete(event)>-</button></td>
                            <% } %>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
            <button id="newCards" class="btn btn-sm btn-outline-danger"
                    onclick=handleReset(event)>Reset</button>
            <button id="newCards" class="btn btn-sm btn-outline-success float-right"
                    onclick=handleAcceptChanges(event)>Add</button>
        </div>
    </div>

</div> <!-- END MAIN SECONDARY COTAINER -->


<% include partials/footer %>