<% include ../partials/header %>

<script>
	addedCards = <%-JSON.stringify(subgroup.cards)%>;
</script>

<!--  This page shows a specific subgroup -->
	<div class="container">
		 <!-- COLLECTION CARDS CONTAINER -->
		<div class="container content-container pt-5 col-10 col-md-6">
				<h5>Collection Name: <%=subgroup.name %></h5>
				<button class="btn btn-success mb-2" onclick="handleNewSubgroup()">Update <%=subgroup.name %> Now</button>
				<div class="table-container overflow-auto">
					<table class="table table-dark">                  
						<tbody id="subgroup">
							<% for (let i = 0; i < subgroup.cards.length; i++) { %>
							<tr class="card-in-list <%=subgroup.cards[i].id%>">
							   <td	container = "body"
									data-toggle="tooltip"
									data-html="true" 
									data-placement="left"
									fallback-placement="flip"
									title=" <div class='conatiner-fluid d-block'>
											<p class='h6 font-weight-bold'><%=subgroup.cards[i].name%></p>
											<img class='img-fluid rounded' src='<%=subgroup.cards[i].imageUrl%>'>
											<span><%=subgroup.cards[i].text%></span>
											</div> ">
										<%=subgroup.cards[i].name%>
								</td>
								<td><%=subgroup.cards[i].manaCost%></td>
								<td><%=subgroup.cards[i].rarity%></td>                                
								<td>
									<button id="<%=subgroup.cards[i].id%>"
											class="btn btn-sm btn-outline-danger fas fa-minus-circle" onclick=handleDelete(event)>
									</button>
								</td>
							</tr>
							<% } %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
<% include ../partials/footer %>